
<ion-content>
<!-- <div>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
</div> -->
  <div class="holder">
    <ion-icon style="position: absolute;left:3%;font-size: 30px;top: 15%;color: #9010F5;" name="images-outline">
      <ion-input type="file"  required   name="img"  accept="image/*" id="upload" (change)="fileChangeEvent($event)"></ion-input>
    </ion-icon>
    <div class="top">
      <p style="font-size: 24px; font-weight: bold; color:whitesmoke;">Add your space</p>
    </div>
    <div *ngIf="viewSpace==1">
      <ion-grid style="margin: 0%;"> 
        <ion-row  *ngFor="let x of ret_array">
    
<!--          
          <a   [routerLink]="['/update-space/',x]">{{x}}</a> -->
          <ion-icon class="viewspaces" name="caret-forward-outline" [routerLink]="['/update-space/',x]"></ion-icon>{{x}}


   
        </ion-row>
      </ion-grid>
  </div>
 
    <div class="bottom" *ngIf="viewSpace==0">
        
  
  
      
  
      <div style="position: absolute;width: 6.5%;height: 4%; border-radius: 50%; background-color:white;top: 15%;left: 1%; display: flex;justify-content: center;align-items: center;">
      <ion-icon style="font-size: 20px;color: white;background-color: #16D6E3; border-radius: 50%;" name="add-circle-outline"></ion-icon>
    </div>

      <form  style="height: 100%;" [formGroup]="addCoSpaceForm">
        
        <ion-item>
          <ion-input type="file"  required   name="img"  accept="image/*" id="upload" (change)="fileChangeEvent($event)"></ion-input>
          <div>
            <div style="color:red;" *ngIf=" this.imageError!==''">{{this.imageError}}</div>
          </div>
        </ion-item>
        <ion-item>
          <ion-label>Space category</ion-label>
          <ion-select  formControlName="categories">
              <ion-select-option value="private office">Private Office</ion-select-option>
              <ion-select-option value="boardroom">BoardRoom</ion-select-option>
              <ion-select-option value="Pair">Pair Office</ion-select-option>
              <ion-select-option value="Sharing">Shared Office</ion-select-option>
              <ion-select-option value="OpenSpace">Open Plan</ion-select-option>
           
          </ion-select>
          <div style="color:red;" *ngIf="isValidInput('categories')"
          class="alert alert-danger">
          <div *ngIf="addCoSpaceForm.controls['categories'].errors.required">
            categories is required
          </div>
           <div *ngIf="addCoSpaceForm.controls['categories'].errors.pattern">
            categories email format
           </div>
          </div>
      </ion-item>
      <ion-item>
        <ion-label>Category Number</ion-label>
        <ion-select formControlName="category_number">
          
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
   
        </ion-select>
        <div style="color:red;" *ngIf="isValidInput('category_number')"
        class="alert alert-danger">
        <div *ngIf="addCoSpaceForm.controls['category_number'].errors.required">
          category_number is required
        </div>
         <div *ngIf="addCoSpaceForm.controls['category_number'].errors.pattern">
          category_number  format
         </div>
        </div>
    </ion-item> 
    <ion-item>
      <ion-input  type="number"  min="1" max="4" formControlName="price" placeholder="Price"></ion-input>
      <div style="color:red;" *ngIf="isValidInput('price')"
      class="alert alert-danger">
      <div *ngIf="addCoSpaceForm.controls['price'].errors.required">
        price is required
      </div>
       <div *ngIf="addCoSpaceForm.controls['price'].errors.pattern">
        price  format
       </div>
       <div *ngIf="addCoSpaceForm.controls['price'].errors.minLength">
        minLength is 2
       </div>
       <div *ngIf="addCoSpaceForm.controls['price'].errors.maxLength">
        maxLength is 3
       </div>
      </div>
    </ion-item>
    
      <ion-textarea  type="text" formControlName="description" placeholder="Description" style="border-style: solid;height: 15%;border-width: 1px;border-color: #16D6E3;border-top: 0px;margin: 0px;"></ion-textarea>
      <div style="color:red;" *ngIf="!description?.valid && (description?.dirty || description?.touched)">
        Invalid description
        <div *ngIf="description.errors.required">
          description is required
       </div>
       <div *ngIf="description.errors.maxlength">
        maxlength is 150
     </div>
     <div *ngIf="description.errors.minlength">
      minlength is 5
   </div>

     </div>

    <p style="font-size: 18px;font-weight: bold; text-align: center">Enter your address below.</p>
    <ion-item>
      <ion-input formControlName="address" placeholder="Address"></ion-input>
      <div style="color:red;" *ngIf="!address?.valid && (address?.dirty || address?.touched)">
        Invalid description
        <div *ngIf="address.errors.required">
          address is required
       </div>
     </div>
    </ion-item>
    <ion-item>
      <ion-input formControlName="city" placeholder="City"></ion-input>
      <div style="color:red;" *ngIf="!city?.valid && (city?.dirty || city?.touched)">
        Invalid city
        <div *ngIf="city.errors.required">
          address is required
       </div>
     </div>
    </ion-item>
    <ion-item>
      <ion-input formControlName="province" placeholder="Province"></ion-input>
      <div style="color:red;" *ngIf="!province?.valid && (province?.dirty || province?.touched)">
        Invalid province
        <div *ngIf="province.errors.required">
          province is required
       </div>
     </div>
    </ion-item>
    <div style="height: 40%; overflow: visible;">
    <!-- ............................................................................................. -->
    <ion-grid>
      <ion-row style="color: black;margin: 5px; position: relative;">
        <ion-col *ngFor="let amenities of amenitiesData">
          <div style="font-size: 14px; border-style: solid 3px;border-color: #16D6E3;">{{ amenities.name }} <br>
              <input type="checkbox" formControlName="nameAnim"   (change)="onChange(amenities.name, $event.target.checked)"  />
          </div>
        </ion-col>
        <div style="color:red;" *ngIf="isValidInput('nameAnim')"
      class="alert alert-danger">
      <div *ngIf="addCoSpaceForm.controls['nameAnim'].errors.required">
        Atleast one Amenity should be selected
      </div>
     
    </div>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="submit()"  [disabled]="!addCoSpaceForm.valid"  style="--background:#9010F5; width: 120px;">Submit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="view()" style="--background: #16D6E3; width: 120px;">View Spaces</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
   
      </form>

     
   


  
    </div>
    
  </div>

  </ion-content>
  <ion-footer style="position: absolute; height: 50px;bottom: 0px;background-color:  #303d3d; display: flex;justify-content: center;align-items: center;" >
    
    <ion-icon [routerLink]="'/profile'" style="font-size: 30px;position: absolute;right: 7%;color: grey;" name="person-outline"></ion-icon>
    <ion-icon [routerLink]="'/favourites'" style="font-size: 30px;position: absolute;right: 45%;color: grey;" name="heart-outline"></ion-icon>
    <ion-icon [routerLink]="'/owner-landing'" style="font-size: 30px;position: absolute;left: 7%;color: grey;" name="home-outline"></ion-icon>
    <!-- <ion-icon [routerLink]="'/upload-space'" style="position: absolute;left:33%;font-size: 30px;color: grey;" name="add-circle-outline"></ion-icon> -->
  </ion-footer>