<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>
    <ion-item *ngFor="let y of commentsList">
      <ion-grid>
        <ion-row>
          <p>{{y.comment}}</p>
        </ion-row>
        <ion-row>
          <ion-col>Date: {{y.datecomment}}</ion-col>
          <ion-col>Time: {{y.timecomment}} </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
