
.wrapper{
    height: 100%;
    width: 100%;
}



.gallery{
    --background:#9010F5;
    margin-left: 210px;
   margin-top: -100px;
   border-top-left-radius: 50%;
   border-bottom-left-radius: 50%;
}

.walkins{
    --background:#16D6E3;
    margin-left: 215px;
    margin-top: -120px;

}

.view{
    --background: #2D98E6;
    margin-left: 170px;
    margin-top: -70px;
}

.newimage{
    display: flex;
    flex-direction: column;
    width: 100%;
}

ion-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // --background:#16D6E3;
}

.editing{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: green;
}

.remove{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.edit{
    display: flex;
    flex-direction: column;
    --background: #16D6E3;
    width: 100px;
    height: 30px;
    margin-left: 50px;
}

.close{
    display: flex;
    flex-direction: column;
    --background: red;
    width: 100px;
    height: 30px;
    margin-left: 40px;
}

ion-label{
    display: flex;
    font-weight: bold;
    margin-left: 10px;
}
